@import "../../../Font.scss";
@import "../../page/Page.scss";
@import "../../content/Content.scss";

.CommentsComponent {
  margin-top: 50px;
}

.CommentsTitle {
  margin-left: 35px;
  margin-top: 40px;
  margin-right: 30px;
}
.MobileCommentsTitle {
  margin-top: 40px;
  margin-left: 10px;
}
.CommentItem {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
.MobileCommentItem {
  @extend .CommentItem;
  margin-left: 10px;
  margin-right: 10px;
}

.CreateCommentItem {
  @extend .CommentItem;
  border-bottom: 0;
  margin: 20px;
}

.MobileCreateCommentItem {
  @extend .CommentItem;
  border-bottom: 0;
  margin: 0px;
  margin-top: 20px;
}

.CommentUserDetails {
  @extend .PageSideFragmentItem;
  border: 0;
  cursor: auto;
}

.CommentUserDetailsClickable {
  @extend .CommentUserDetails;
  cursor: pointer;
}

.CommentContent {
  @extend .ContentTextStyle;
  margin: 10px;
  margin-bottom: 15px;
}

.CommentInput {
  @extend .TextInput;
  border: 0px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  margin-left: 10px;
}

.CommentLoadMoreButtonContainer {
  padding: 30px;
  width: 20%;
}
