.EditRow {
  height: 50px;
  display: flex;
  width: 100%;
}
.EditRowContent {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.EditRowFieldTitle {
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: auto;
}

.EditRowButtonContainer {
  margin-top: auto;
  margin-bottom: auto;
}
