.InputWithCheckerContainer {
}

.InputWithCheckerInput {
  padding: 5px;
  margin: 0px;
  outline: none;
  width: 100%;
}

.InputWithCheckerError {
  color: red;
  font-size: 10pt;
  margin: 5px;
}

.InputWithCheckerSubtitle {
  font-size: 10pt;
  margin: 5px;
}
