@import "../../Font.scss";

%ContentItem {
  margin-top: 20px;
}
#TextInputBase {
  @extend .ContentFont;
  outline: none;
  border-radius: 2px;
}

.ContentLoading {
  @extend %ContentItem;
  align-content: center;
  display: flex;
  justify-content: center;
}

.ContentText {
  @extend %ContentItem;
  @extend .ContentFont;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.ContentTextStyle {
  @extend .ContentFont;
  white-space: pre-wrap;
  text-align: justify;
  text-justify: inter-word;
  margin: 0px;
  padding: 2px;
}

.MobileContentText {
  @extend %ContentItem;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
  white-space: pre-wrap;
}

.ContentEmpty {
  margin: 30px;
  text-align: center;
}

.EditingText {
  font-style: italic;
  color: #666;
  padding-top: 7px;
}

.TextInput {
  @extend #TextInputBase;
  width: 100%;
  resize: none;
}

.StoryTitleInput {
  @extend #TextInputBase;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.ContentReload {
  margin: 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.ContentLoader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.StoryLoader {
  @extend .ContentLoader;
  min-height: 100px;
}

.EditOnHover:hover {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.EditOnHover {
  border: 1px solid #00000000;
  border-radius: 2px;
}

.ImageSelector {
  display: flex;
  flex-direction: column;
}

.ImageSelectorContainer {
  display: flex;
  flex-direction: row;
}

.ImageSelectorError {
  color: red;
}

.ContentImageContainer {
  @extend .ContentText;
}

.ContentImage {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.MobileContentImage {
  width: 100%;
  margin-bottom: 20px;
}

.MobileContentAudio {
  width: 100%;
}

.Content {
  width: 100%;
}

.ContentAudio {
  width: 100%;
}

.ContentSub {
  @extend .ContentFont;
  font-size: 8pt;
  width: 100%;
  text-align: center;
}
