@import "../../Font.scss";

.LoginComponent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.LoginButton {
  @extend .Font;
  padding: 10px;
  cursor: pointer;
}

.LogoutButton {
  @extend .Font;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.Progress {
  padding: 7px;
}

.UserId {
  font-size: xx-small;
  height: 2px;
  color: ghostwhite;
}

.UserAndAvatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.UserName {
  @extend .Font;
  margin-bottom: 10px;
}

.Avatar {
  cursor: pointer;
  margin: 5px;
}

.DialogActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
