.DateDetailsContainer {
    margin-left: 30px;
    margin-right: 30px;
}

.DateDetailsRow {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 11pt;
}


.DateDetailName {
    color: grey;
    margin-right: 30px;
    font-style: italic;
}

.DateDetailContent {
    font-style: italic;
}
