@import "../../Font.scss";
#BaseStoryComponent {
  align-content: center;
  width: 800px;
}

.StoryComponent {
  @extend #BaseStoryComponent;
}

.MobileStoryComponent {
  @extend #BaseStoryComponent;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#TitleTextStyle {
  @extend .ContentFont;
  font-weight: 700;
}

.StoryTitle {
  @extend #TitleTextStyle;
  text-align: center;
  flex-grow: 1;
}

.StoryTitleContainer {
  margin: 30px;
}

.MobileStoryTitleContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.StoryTitleWithEdit {
  @extend .StoryTitleContainer;
  flex-direction: column;
  justify-content: end;
}

.StoryControls {
  margin-top: 20px;
}

.ContentControls {
  margin-top: 20px;
}

.ContentControlsDivider {
  margin-bottom: 10px;
}

.StoryControlsDivider {
  margin-top: 10px;
}

#ControlsContainer {
  display: flex;
  flex-direction: row;
}
.ContentControlsContainer {
  @extend #ControlsContainer;
  justify-content: flex-end;
}

.StoryControlsContainer {
  @extend #ControlsContainer;
  justify-content: space-between;
}

.ContentItemControlsContainer {
  @extend #ControlsContainer;
  justify-content: space-between;
}

.TitleTextStyle {
  @extend .Font;
}

.Footer {
  height: 50px;
}
