@import "../components/side_menu/SideMenu.scss";

.NoPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.NoPageContentItem {
  margin: 5px;
}

.NoPageContact {
  margin-top: 30px;
}

.NoPageAddItem {
  @extend .AddItem;
  width: auto;
  border: 0;
}

.NoPageLoadingItem {
  @extend .LoadingItem;
  width: auto;
  border: 0;
}
