@import "../components/page/Page.scss";
@import "../components/story/StoryComponent.scss";

.Profile {
  @extend .Page;
}

.ProfileContent {
   margin: 30px;
  @extend .StoryComponent;
  width: 500px;

}

.ProfileTitle {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18pt;
}

.ProfileContentItem {
  margin-top: 20px;
}
