@import "../../Font.scss";
@import "../page/Page.scss";

.SideMenu {
  @extend .PageSideFragment;
}

%SideMenuItem {
  @extend .Font;
  @extend .PageSideFragmentItem;
  height: 40px;
}
%SideMenuSelectionItem {
  @extend %SideMenuItem;
  cursor: pointer;
  background: #222;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
%SideMenuSelectionItemSelected {
  @extend %SideMenuSelectionItem;
  background: white;
  color: black;
}

.EditItemSelected {
  @extend %SideMenuSelectionItem;
}

.DisplayItemSelected {
  @extend %SideMenuSelectionItem;
}

.EditItem {
  @extend %SideMenuSelectionItemSelected;
}

.DisplayItem {
  @extend %SideMenuSelectionItemSelected;
}

.MobileNameItem {
  @extend %SideMenuItem;
  @extend .MobileHeaderFont;
}

.AddItem {
  @extend %SideMenuSelectionItemSelected;
  background: #f5f5f5;
}

.LoadingItem {
  @extend %SideMenuItem;
}

.EmptyItem {
  @extend %SideMenuItem;
}

.ReloadItem {
  cursor: pointer;
  @extend %SideMenuItem;
}
.Drawer {
  width: 250px;
  overflow: auto;
  height: 100vh;
}
