@import "../../Font.scss";
.Header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  border-bottom: solid 1px grey;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.HeaderTitle {
  @extend .HeaderFont;
  flex-grow: 1;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.MobileHeaderTitle {
  @extend .HeaderTitle;
  @extend .MobileHeaderFont;
}

.AppIcon {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.DrawerButton {
  @extend .AppIcon;
}
