.PageContent {
  top: 51px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.Page {
  @extend .PageContent;
  top: 0px;
  display: flex;
  overflow: auto;
  justify-content: space-between;
}

.StartPage {
  @extend .Page;
}

.PageSideFragmentContentList {
  padding: 0;
  list-style-type: none;
}
.PageSideFragmentHeader {
  padding: 5px;
}

.PageSideFragment {
  width: 250px;
}

.PageSideFragmentItem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  min-height: 50px;
  padding: 5px;
}

.PageSideFragmentItemText {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
