@font-face {
  font-family: "Bahary";
  src: url("/fonts/Bahary.ttf");
}

@font-face {
  font-family: "CallienPoohRegular";
  src: url("/fonts/CallienPoohRegular.ttf");
}

@font-face {
  font-family: "Monaghan";
  src: url("/fonts/Monaghan.ttf");
}

.ContentFont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}

.Font {
  font-size: 12pt;
}

.HeaderFont {
  font-family: "Bahary", Fallback, sans-serif;
  font-size: 24pt;
  letter-spacing: 2pt;
}

.MobileHeaderFont {
  font-family: "Bahary", Fallback, sans-serif;
  font-size: 20pt;
}
