@import "../page/Page.scss";

.ContactName {
  @extend .PageSideFragmentItemText;
  margin-left: 10px;
  margin-right: 10px;
}

.Contacts {
  @extend .PageSideFragment;
  max-height: 500px;
  overflow: auto;
}
